[Unit]
Description=The Rocket.Chat server
After=network.target remote-fs.target nss-lookup.target nginx.service mongod.service

[Service]
ExecStart=/usr/bin/node /opt/Rocket.Chat/main.js
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rocketchat
User=rocketchat
EnvironmentFile=/lib/systemd/system/rocketchat.service.env
ExecStartPre=-/usr/bin/mongosh --quiet --eval "rs.initiate();"
Restart=on-failure
RestartSec=15s
StartLimitInterval=600s
StartLimitBurst=30

[Install]
WantedBy=multi-user.target